@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'product-sans';
  src: url('./assets/Product Sans Regular.ttf');
}
body {
  background-color: #f8f8fa;
  font-family: 'product-sans';
}
